<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Snooker Ghost Camera</title>
  </head>
  <body>
    <!-- ZOOMABLE VIDEO & OVERLAY -->
    <div id="zoom-container">
      <div id="zoom-wrapper">
        <img id="live-video-img" src="/get-live-video" />
        <canvas id="canvas"></canvas>
      </div>
    </div>

    <!-- HIDDEN IMAGE FOR DRAWING CANVAS -->
    <img id="overlay-image" src="" alt="overlay" style="display: none" />

    <!-- CONTROLS -->
    <div id="controls">
      <button id="capture-button">Capture</button>
      <button id="reset-button">Reset</button>
      <label>
        Transparency:
        <input type="range" id="transparency-slider" min="0" max="1" step="0.01" value="0.5" />
      </label>
      <label>
        Zoom:
        <input type="range" id="zoom-slider" min="1" max="3" step="0.05" value="1" />
      </label>
      <div class="help-container">
        <div id="help-popup" class="help-popup">
          <h3 style="text-decoration: underline; margin-bottom: 5px">
            Instructions for using the snooker overlay system
          </h3>
          <i style="font-size: 13px">Click
            <span style="font-size: 12px" class="fake-button">HELP</span> again
            to close this popup.</i>
          <ol>
            <li>
              Use the <span class="fake-button">Capture</span> button to take a
              snapshot before a shot.
            </li>
            <li>Play your shot as you normally would.</li>
            <li>
              Reset the balls with the help of the overlaid image and video.
            </li>
            <li>
              Adjust <span class="fake-button">Transparency</span> for best
              visibility.
            </li>
            <li>
              Use the <span class="fake-button">Zoom</span> slider to adjust
              zoom level.
            </li>
            <li>When zooming you can click and drag on the canvas to move.</li>
            <li>
              Use the <span class="fake-button">Reset</span> button to clear the
              overlay once you're done.
            </li>
          </ol>
        </div>
        <button id="help-icon">HELP</button>
      </div>
    </div>

    <!-- SCRIPT -->
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/socket.js')}}"></script>
  </body>
</html>
